body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #adadad;
  padding: 24px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #409ADC;
  text-decoration: none;
}

a:hover {
  color: #2E6C9A;
  text-decoration: none;
  -webkit-transition: color 400ms;
}

h1 {
  font-size: 28px;
  margin-bottom: 4px;
  color: #757575;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #adadad;
}

p {
  color: #868686;
  font-size: 16px;
  line-height: 24px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
